{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load taginos %}
{% load tz %}

{% block title %}{% translate 'Tender details' %} {% endblock title %}


{% block content %}
    {% if con %}
        <div id="tosts-container" class="toast-container shadow shadow-lg bottom-0 end-0 p-3" style="position: fixed; z-index: 99;">
            {% include 'base/includes/message.html' with id="favToast" teint='success' message=_('Item added to Favourites.') %}
            {% include 'base/includes/message.html' with id="defToast" teint='success' message=_('Item removed from Favourites.') %}
            {% include 'base/includes/message.html' with id="copyToast" teint='success' message=_('URL was copied to clipboard.') %}
        </div>

        <div id="dldModal" class="modal fade" tabindex="-1" aria-labelledby="dldModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="dldModalLabel">{% translate "Download Tender's files" %}</h1>
                    </div>
                    <div class="modal-body">

                        {% if finfo  %}
                            <div class="small text-muted mb-2">{% translate "Once you click on an item, your browser or device should handle the download process." %}</div>
                            {% for f in finfo %}
                                <a class="text-decoration-none w-100 btn btn-outline-primary text-start mt-2" href="{% url 'portal_con_get_file' con.id f.name f.priv %}"{% if files_count == 1 %} data-bs-dismiss="modal"{% endif %}>
                                    <span class=""><i class="bi bi-arrow-down-square-fill"></i></span>
                                    <span class="ms-1 badge text-bg-primary">{{ f.size|filesizeformat }}</span>
                                    <span class="ms-1">{{ f.name }}</span>
                                </a>
                            {% endfor %}
                            {% if rinfo  %}
                                {% for r in rinfo %}
                                    <a class="text-decoration-none w-100 btn btn-outline-success text-start mt-2" href="{% url 'portal_con_get_file' con.id r.name r.priv %}">
                                        <span class=""><i class="bi bi-info-square"></i></span>
                                        <span class="ms-1 badge text-bg-success">{{ r.size|filesizeformat }}</span>
                                        <span class="ms-1">{{ r.name }}</span>
                                    </a>
                                {% endfor %}
                            {% endif %}
                            <div class="mt-2 card border-0">
                                <a href="tel:+212606881972">
                                    <img class="card-img-top" src="{% static 'img/vcard.png' %}" alt="Contact"> 
                                </a>                               
                            </div>
                        {% else %}
                            <div class="text-danger">{% translate "Sorry. We could not get the files for this Tender." %}</div>
                            <div class="small text-muted">{% translate "Please try again later, or contact us if this problem persists." %}</div>
                        {% endif %}

                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'base_legal' %}" target="_blank" class="btn btn-outline-secondary">
                            <span><i class="bi bi-shield-exclamation"></i></span>
                            <span class="ms-1">{% translate 'Legal Information' %}</span>
                        </a>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
                            <span><i class="bi bi-x-lg"></i></span>
                            <span class="ms-1">{% translate 'Close' %}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div id="page-title" class="d-flex flex-wrap align-items-center mt-4 mb-2">
            <div id="cancelledStar" {% if con.cancelled %}style="display:block;"{% else %}style="display:none;"{% endif %}>
                <span class="mb-1 fw-bold fs-2 me-3 text-danger"><img src="{% static 'img/cancelled.svg' %}" class="pb-1 mx-1" alt="{% translate 'Cancelled' %}">{% translate 'Cancelled' %}</span>
            </div>
            <div class="">
                <span id="favedStar" {% if faved %}style="display:d-inline;"{% else %}style="display:none;"{% endif %}>
                    <img class="me-1 mb-2" src="{% static 'img/star-fill.svg' %}" height="24" alt="Fav">
                </span>
                <span class="h2">{% translate 'Tender details' %}</span>
            </div>
        </div>
        
        <div id="con-details">
            <div id="top-actions" class="py-2">
                <a type="button" class="btn btn-outline-primary mt-1 px-2" {% if request.user.is_authenticated %} data-bs-toggle="modal" data-bs-target="#dldModal"{% else %} href="{% url 'account_login' %}?next={{ request.get_full_path }}"{% endif %}>
                    <div class="d-flex justify-content-center">
                        {% if not request.user.is_authenticated %}
                            <img class="mx-1" src="{% static 'img/lock.svg' %}" height="24">
                        {% endif %}
                        <div class="mx-1">
                            <i class="bi bi-arrow-down-square-fill"></i> 
                            <span class="d-none d-md-inline">{% translate 'Download' %}{% if finfo %} |{% endif %}</span>
                        </div>
                        {% if finfo %}<span class="px-1">{{ dsize|filesizeformat }}</span>{% endif %}
                    </div>
                </a>
                <button class="btn btn-outline-primary mt-1 px-2" onclick="sharePage()">
                    <div class="mx-1">
                        <span><i class="bi bi-share-fill"></i></span>
                        <span class="d-none d-md-inline"> {% trans "Share" %}</span>
                    </div>
                    {% include "base/includes/share-button.html" %}
                </button>

                <a id="favbtn" type="button" class="btn btn-outline-primary mt-1 px-2" {% if request.user.is_authenticated %} onclick="toggleFav('/cons/fav/{{ con.id }}')" {% else %} href="{% url 'account_login' %}?next={{ request.get_full_path }}"{% endif %}>
                    <div class="d-flex justify-content-center">
                        {% if not request.user.is_authenticated %}
                            <img class="mx-1" src="{% static 'img/lock.svg' %}" height="24">
                        {% endif %}
                        <div class="mx-1">
                            <i class="bi bi-star-half"></i> 
                            <span class="d-none d-md-inline">{% translate 'Toggle Favourite' %}</span>
                        </div>                        
                    </div>
                </a>

                <a type="button" class="btn btn-outline-primary mt-1 px-2" {% if request.user.is_authenticated %}  target="_blank" href="{{ con.portal_link }}"{% else %} href="{% url 'account_login' %}?next={{ request.get_full_path }}"{% endif %}>
                    <div class="d-flex justify-content-center">
                        {% if not request.user.is_authenticated %}
                            <img class="mx-1" src="{% static 'img/lock.svg' %}" height="24">
                        {% endif %}
                        <div class="mx-1">
                            <i class="bi bi-link-45deg"></i>
                            <span class="d-none d-md-inline">{% translate 'Bid' %}</span>
                        </div>
                    </div>
                </a>

            </div>

            {% get_current_language as LC %}
            <div id="con-destails" class="my-2">
                <div class="row my-3">
                    {% trans 'Object' as objet %}
                    {% include 'portal/includes/ico-val-key.html' with ico='book' key=objet val=con.objet iac='' kac='text-muted small' vac='fw-bold' %}
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 my-3">
                        {% timezone "Africa/Casablanca" %}
                            {% trans 'Bidding Deadline' as deadline %}
                            <!-- {% trans 'Morocco Time' as mtime %} -->
                            {% include 'portal/includes/ico-val-key.html' with ico='calendar-check' key=deadline val=con.date_limite_depot|localtime vex='' iac='' kac='text-muted small' vac='fw-bold' %}
                        {% endtimezone %}
                    </div>
                    <div class="col-12 col-md-6 my-3 {% if con.remaining_days < 30 %} text-danger{% else %} text-success{% endif %}">
                        {% trans 'Remaining days' as remdays %}
                        {% trans 'days' as days_litteral %}
                        {% include 'portal/includes/ico-val-key.html' with ico='hourglass-top' key=remdays val=con.remaining_days vex=days_litteral iac='' kac='text-muted small' vac='fw-bold' %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 my-3">
                        {% trans 'Total Estimate' as estimate %}
                        {% include 'portal/includes/ico-val-key.html' with ico='cash-coin' key=estimate val=con.total_estimation|floatformat:'2g' iac='' kac='text-muted small' vac='fw-bold' %}
                    </div>
                    <div class="col-12 col-md-6 my-3">
                        {% trans 'Temporary Caution' as caution %}
                        {% if request.user.is_authenticated %}
                            {% include 'portal/includes/ico-val-key.html' with ico='database-lock' key=caution val=con.caution_provisoire|floatformat:'2g' iac='' kac='text-muted small' vac='' %}
                        {% else %}
                            {% include 'portal/includes/ico-val-key.html' with ico='database-lock' key=caution scope='auth' iac='' kac='text-muted small' %}
                        {% endif %}
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 col-md-6 my-3">
                        {% trans 'Reference' as reference %}
                        {% if request.user.is_authenticated %}
                            {% include 'portal/includes/ico-val-key.html' with ico='tag' key=reference val=con.reference iac='' kac='text-muted small' vac='' %}
                        {% else %}
                            {% include 'portal/includes/ico-val-key.html' with ico='tag' key=reference scope='auth' iac='' kac='text-muted small' %}
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6 my-3">
                        {% trans 'Date published' as published %}
                        {% if request.user.is_authenticated %}
                            {% include 'portal/includes/ico-val-key.html' with ico='clock' key=published val=con.date_publication|date iac='' kac='text-muted small' vac='' %}
                        {% else %}
                            {% include 'portal/includes/ico-val-key.html' with scope='auth' ico='clock' key=published kac='text-muted small' %}
                        {% endif %}
                    </div>
                </div>



                <div class="row">
                    <div class="col-12 col-md-6 my-3">
                        {% trans 'Main Category' as categorie %}
                        {% include 'portal/includes/ico-val-key.html' with ico='grid' key=categorie val=con.categorie iac='' kac='text-muted small' vac='' %}
                    </div>
                    
                    <div class="col-12 col-md-6 my-3">                        
                        {% if con.nombre_lots == 1 %}
                            {% trans 'Reserved to SMB+' as reserved_key %}
                            {% if con.lot_set.first.reserve_pme %}
                                {% trans "Yes" as reserved %}
                            {% else %}
                                {% translate 'No' as reserved %}
                            {% endif %}
                            {% include 'portal/includes/ico-val-key.html' with ico='shield-lock' key=reserved_key val=reserved iac='' kac='text-muted small' vac='' %}
                        {% else %}
                            {% trans 'Lots count' as lots_count %}
                            {% include 'portal/includes/ico-val-key.html' with ico='ui-radios' key=lots_count val=con.nombre_lots iac='' kac='text-muted small' vac='' %}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 my-3">
                        {% trans 'Execution location' as location %}
                        {% include 'portal/includes/ico-val-key.html' with ico='geo-alt' key=location val=con.lieu_execution iac='' kac='text-muted small' vac='' %}
                    </div>
                    <div class="col-12 col-md-6 my-3">
                        {% trans 'Public client' as client %}
                        {% if request.user.is_authenticated %}
                            {% include 'portal/includes/ico-val-key.html' with ico='bank' key=client val=con.acheteur_public iac='' kac='text-muted small' vac='' %}
                        {% else %}
                            {% include 'portal/includes/ico-val-key.html' with ico='bank' key=client scope='auth' kac='text-muted small' %}
                        {% endif %}
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 col-md-6 my-3">
                        {% trans 'Procedure' as procedure %}
                        {% include 'portal/includes/ico-val-key.html' with ico='megaphone' key=procedure val=con.procedure_annonce iac='' kac='text-muted small' vac='' %}
                    </div>

                    <div class="col-12 col-md-6 my-3">
                        {% trans 'Online bidding' as ebidding %}
                        {% if con.reponse_electronique == 'RR' %}
                            {% trans 'Required, e-Sign required' as relec %}
                        {% elif con.reponse_electronique == 'RO' %}
                            {% trans 'Required, e-Sign not required' as relec %}
                        {% elif con.reponse_electronique == 'OR' %}
                            {% trans 'Not required, e-Sign required' as relec %}
                        {% elif con.reponse_electronique == 'OO' %}
                            {% trans 'Not required, e-Sign not required' as relec %}
                        {% elif con.reponse_electronique == 'I' or con.reponse_electronique == '' %}
                            {% trans 'Not Applicable' as relec %}
                        {% endif %}
                        {% include 'portal/includes/ico-val-key.html' with ico='display' key=ebidding val=relec iac='' kac='text-muted small' vac='' %}
                    </div>
                </div>

                {% if con.domaines %}
                    <div class="py-3" id="domains">
                        {% trans 'Domains of activity' as domains %}
                        {% include 'portal/includes/ico-val-key.html' with ico='ui-radios-grid' key=domains kac='text-muted small' template='portal/includes/con-domains.html' %}
                    </div>
                {% endif %}


                {% if con.nombre_lots == 1 %}

                    {% if con.lot_set.first.qualifications.all %}
                        <div class="py-3" id="qualifs">
                            {% trans 'Qualifications' as qualifs %}
                            {% include 'portal/includes/ico-val-key.html' with ico='award' key=qualifs kac='text-muted small' template='portal/includes/con-qualifs.html' %}
                        </div>
                    {% endif %}

                    {% if con.lot_set.first.agrements.all %}
                        <div class="py-3" id="agrements">
                            {% trans 'Agrements' as agrements %}
                            {% include 'portal/includes/ico-val-key.html' with ico='shield-check' key=agrements kac='text-muted small' template='portal/includes/con-agrements.html' %}
                        </div>
                    {% endif %}

                    {% if con.lot_set.first.echantillons %}
                        <div class="py-3" id="echantillons">
                            {% trans 'Samples' as samples %}
                            {% include 'portal/includes/ico-val-key.html' with ico='palette2' key=samples kac='text-muted small' template='portal/includes/con-echantillons.html' %}
                        </div>
                    {% endif %}

                    {% if con.lot_set.first.reunions %}
                        <div class="py-3" id="reunions">
                            {% trans 'Meetings' as meetings %}
                            {% include 'portal/includes/ico-val-key.html' with ico='easel' key=meetings kac='text-muted small' template='portal/includes/con-reunions.html' %}
                        </div>
                    {% endif %}

                    {% if con.lot_set.first.visites %}
                        <div class="py-3" id="visites">
                            {% trans 'In-Site Visits' as visites %}
                            {% include 'portal/includes/ico-val-key.html' with ico='eye' key=visites kac='text-muted small' template='portal/includes/con-visites.html' %}
                        </div>
                    {% endif %}

                    {% if con.lot_set.first.variante != 'Non' or con.prix_acquisition_plans != 0 %}
                        <div class="row py-3">
                            <div class="col-12 col-md-6">
                                {% trans 'Price of Plans' as plans %}
                                {% include 'portal/includes/ico-val-key.html' with ico='map' key=plans val=con.prix_acquisition_plans|floatformat:'2g' iac='' kac='text-muted small' vac='' %}
                            </div>
                            <div class="col-12 col-md-6">
                                {% trans 'Variante' as variable %}
                                {% if con.lot_set.first.variante == 'Non' %}
                                    {% trans "No" as variante %}
                                {% else %}
                                    {% translate 'Yes' as variante %}
                                {% endif %}
                                {% include 'portal/includes/ico-val-key.html' with ico='signpost2' key=variable val=variante iac='' kac='text-muted small' vac='' %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {% if con.nombre_lots > 1 %}
                    <div class="py-3">
                        {% trans 'Lots details' as lots %}
                        {% include 'portal/includes/ico-val-key.html' with ico='ui-radios' key=lots kac='text-muted small' template='portal/includes/con-lots-details.html' %}
                    </div>
                {% endif %}
                
                {% if con.retrait_dossiers_adresse %}
                    <div class="py-3">
                        {% trans 'Withdrawal address' as withdrawal %}
                        {% if request.user.is_authenticated %}
                            {% include 'portal/includes/ico-val-key.html' with ico='arrow-down-circle' key=withdrawal val=con.retrait_dossiers_adresse iac='' kac='text-muted small' vac='' %}
                        {% else %}
                            {% include 'portal/includes/ico-val-key.html' with ico='arrow-down-circle' key=withdrawal scope='auth' kac='text-muted small' %}
                        {% endif %}
                    </div>
                {% endif %}

                {% if con.depot_offres_adresse %}
                    <div class="py-3">
                        {% trans 'Bidding address' as bidding_address %}
                        {% if request.user.is_authenticated %}
                            {% include 'portal/includes/ico-val-key.html' with ico='arrow-up-circle' key=bidding_address val=con.depot_offres_adresse iac='' kac='text-muted small' vac='' %}
                        {% else %}
                            {% include 'portal/includes/ico-val-key.html' with ico='arrow-up-circle' key=bidding_address scope='auth' kac='text-muted small' %}
                        {% endif %}
                    </div>
                {% endif %}

                {% if con.ouverture_plis_adresse %}
                    <div class="py-3">
                        {% trans 'Opening address' as opening_address %}
                        {% if request.user.is_authenticated %}
                            {% include 'portal/includes/ico-val-key.html' with ico='check-circle' key=opening_address val=con.ouverture_plis_adresse iac='' kac='text-muted small' vac='' %}
                        {% else %}
                            {% include 'portal/includes/ico-val-key.html' with ico='check-circle' key=opening_address scope='auth' kac='text-muted small' %}
                        {% endif %}
                    </div>
                {% endif %}

                <div class="py-3">
                    {% trans 'Contact' as contact %}
                    {% include 'portal/includes/ico-val-key.html' with ico='person' key=contact kac='text-muted small' template='portal/includes/con-contact.html' %}
                </div>
            </div>
        </div>
    {% else %}
        {% include empty.html %}
    {% endif %}

    <script> 
        async function toggleFav(url) {
            try {
                let response = await fetch(url, {credentials: "same-origin",});
                
                let favStar = document.getElementById('favedStar');

                if ( response.status == 200 ) {
                    favStar.style.display = "none";
                    const defToast = document.getElementById('defToast');
                    const defAlert = new bootstrap.Toast(defToast);
                    defAlert.show();
                }
                if ( response.status == 201 ) {
                    favStar.style.display = "block";
                    let favToast = document.getElementById('favToast');
                    let favAlert = new bootstrap.Toast(favToast);
                    favAlert.show();
                }

            } catch (error) {
                console.error(error.message);
            }
        }
    </script>
{% endblock %}
