{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load taginos %}
{% load tz %}

{% block title %}{% translate 'Tenders list' %} {% endblock title %}

{% block content %}

    <div class="modal fade" id="csvModal" tabindex="-1" aria-labelledby="csvModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="csvModalLabel">{% translate 'Download Tenders list' %}</h1>
                </div>
                <div class="modal-body">
                    <div>{% translate "Save a list of shown Tenders as a '.csv' file to your local device." %}</div>
                    <div class="small text-muted">{% translate "These files can be opened in many spreadsheet processors like LibreOffice Calc and MS Excel, ..." %}</div>
                </div>
                <div class="modal-body py-2">                    
                    <div class="small text-muted text-end">{% translate 'Items count' %}: <span class="fw-normal">{% if page_obj.paginator %}{{ page_obj.paginator.count }}{% else %}0{% endif %}</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="downloadCSV()">{% translate 'Download file' %}</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"">{% translate 'Dismiss' %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container bottom-0 end-0 p-3" style="position: fixed;">
        <div class="toast" id="emptyToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="toast-body bg-warning bg-opacity-25">
                <img src="{% static 'img/x.svg' %}" class="rounded me-2" alt="Success">
                <strong class="me-auto" id="emptyToastHeader">
                    {% translate 'You have no Favourites.' %}
                </strong>
            </div>
        </div>
    </div>

    {% trans "Tenders List" as subtitle %}
    {% include 'base/includes/page-top.html' with image='img/list.webp' %}
    <div class="text-center">{% include 'base/includes/items-count.html' with page_obj=page_obj %}</div>

    <div id="top-actions" class="py-2 text-center">
        <a type="button" class="btn btn-outline-primary mt-1 px-2" data-bs-toggle="modal" data-bs-target="#searchModal">
            <div class="d-flex justify-content-center">
                <div class="mx-1"><i class="bi bi-search"></i> {% translate 'Search' %}</div>
            </div>
        </a>
        
        <a id="favbtn" type="button" class="btn btn-outline-primary mt-1 btn-preload px-2{% if favs.count < 1 %} disabled{% endif %}" href="{% url 'portal_cons_favs' %}">
            <div class="d-flex justify-content-center">
                {% if not request.user.is_authenticated %}
                    <img class="mx-1" src="{% static 'img/lock.svg' %}" height="24">
                {% endif %}
                <div class="mx-1"><i class="bi bi-star"></i> {% translate 'My Favourites' %} </div>
                {% if request.user.is_authenticated %}<div>({{ favs.count }})</div>{% endif %}
            </div>
        </a>

        <a type="button" class="btn btn-outline-primary mt-1 px-2 {% if not page_obj %}disabled{% endif %}" {% if request.user.is_authenticated %} data-bs-toggle="modal" data-bs-target="#csvModal"{% else %} href="{% url 'account_login' %}?next={{ request.get_full_path }}"{% endif %}>
            <div class="d-flex justify-content-center">
                {% if not request.user.is_authenticated %}
                    <img class="mx-1" src="{% static 'img/lock.svg' %}" height="24">
                {% endif %}
                <div class="mx-1"><i class="bi bi-journal-arrow-down"></i> {% translate 'Download List' %}</div>
            </div>
        </a>
    </div>


    {% if request.user.is_authenticated %}
        {% include 'portal/cons-search-advanced-form.html' %}
    {% else %}
        {% include 'portal/cons-search-basic-form.html' %}
    {% endif %}

    {% if page_obj %}
        <div class="list-group mt-2 my-0">
            {% for con in page_obj %}
                {% if con in favs %}
                    {% include 'portal/includes/con.html' with con=con faved='Favourite' %}
                {% else %}
                    {% include 'portal/includes/con.html' with con=con %}
                {% endif %}
            {% endfor %}
        </div>
        {% include 'portal/cons-search-paginator.html' %}
        {% if cons_age %}
            <div class="text-center d-block mt-3">
                <div class="small text-muted">
                	{% translate 'Updated since' %}: 
                    <span class="small text-muted me-1">
                        <strong data-bs-toggle="tooltip" title="{{ cons_age }} {{ cons_age|date:'T' }}">{{ cons_age|time1since }}</strong>
                    </span>                    
                </div>
            </div>
        {% endif %}

        <div class="mt-2">{% include 'portal/includes/cons-legend.html' %}</div>

    {% else %}
        <div class="mt-3">{% include 'base/includes/empty.html' %}</div>
    {% endif %}

    <script>
        function downloadCSV() {
            window.location += "?&dld=csv";
        }
    </script>

{% endblock %}
