{% extends 'base.html' %}
{% load i18n %}
{% load static%}
{% load taginos %}

{% block title %} {% translate 'DCE Downloads' %} {% endblock title %}

{% block content %}
    <h1 class="text-center mb-4">{% trans "DCE Downloads" %}</h1>

    {% if request.user|in_group:'CRM' %}
        {% include 'crm/includes/counter.html' with total_count=total_count %}
        <div class="text-center"><strong>{{ total_download_size|filesizeformat }}</strong><span class="text-muted"> = {{ total_download_size }} {% trans 'bytes' %}</span></div>


    	<hr>
        <form class="row g-3" method="GET" action="{% url 'crm_downloads' %}">

            <div class="col-auto">
                <div class="input-group mt-2">
                    <label class="input-group-text small text-muted" for="user_filter">User</label>
                    <select class="form-select" id="user_filter" name="user">
                        <option value="">-- Select User --</option> {# Option to clear user filter #}
                        {% for user_obj in unique_users %}
                            <option value="{{ user_obj.id }}" {% if request.GET.user|add:"0" == user_obj.id|add:"0" %}selected{% endif %}>
                                {{ user_obj.username }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-auto">
                <div class="text-end py-2">
                    <button class="btn btn-primary px-3" type="submit">Filter items</button>
                    {% if filtered %}
                        <a class="btn btn-outline-secondary px-3" href="{% url 'crm_downloads' %}">Clear Filters</a>
                    {% endif %}
                </div>
            </div>
        </form>


        <h3 class="my-3 fw-light mt-5">{% trans 'Top last' %} {{ last_days }} {% trans 'days' %}</h3>
        <div class="list-group">

            {% for download in dce_downloads %}

                    <a href="{% url 'portal_con_portal_details' download.consultation %}" class="text-decoration-none">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="me-auto">
                                <div class="oneline" data-bs-toggle="tooltip" title="{{ con.objet }}"><strong>{{ download.file_name }}</strong></div>
                                <span class="oneline text-muted">{% trans 'Started' %}: {{ download.date_started }}{% if download.user %} -{{ download.user }}{% endif %}</span>
                                
                            </div>
                            <span class="badge bg-primary text-white rounded-pill">{{ download.file_size|filesizeformat }}</span>
                        </li>
                    </a>
            {% empty %}
                <p class="text-center">{% trans "No records found." %}</p>
            {% endfor %}
        </div>

        {% if is_paginated %}
            {% include 'crm/includes/paginator.html' with page_obj=page_obj %}
        {% endif %}
    {% else %}
        <p class="text-danger">{% trans 'Not allowed' %}</p>
    {% endif %}
{% endblock %}
