{% extends 'base.html' %}
{% load i18n %}
{% load static%}
{% load taginos %}

{% block title %} {% translate 'Favorisations' %} {% endblock title %}

{% block content %}
    <h1 class="text-center mb-4">{% trans "Favorisations" %}</h1>
    {% if request.user|in_group:'CRM' %}
    <h3 class="my-3 fw-light mt-5">{% trans 'Total count' %}</h3>
    {% include 'crm/includes/counter.html' with total_count=total_count %}

    <h3 class="my-3 fw-light mt-5">{% trans 'Top Tenders' %}</h3>
        <div class="list-group">
            {% for favorisation in top_favorisations %}
                {% with con=cons_dict|gettify:favorisation.consultation %}
                    <a href="{% url 'portal_con_details' con.id %}" class="text-decoration-none">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="mx-0 my-2">
                                <div class="oneline" data-bs-toggle="tooltip" title="{{ con.objet }}"><strong>{{ forloop.counter }}</strong>. {{ con.objet|upper }}</div>
                                <span class="oneline text-muted">{% trans 'Latest' %}: {{ favorisation.last_favorisation_date }}</span>
                            </div>
                            <span class="badge text-white bg-primary rounded-pill">{{ favorisation.favorisation_count }}</span>
                        </li>
                    </a>
                {% endwith %}
            {% empty %}
                <p class="text-center">{% trans "No records found." %}</p>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-danger">{% trans 'Not allowed' %}</p>
    {% endif %}
{% endblock %}
