{% extends 'base.html' %}
{% load i18n %}
{% load static%}
{% load taginos %}

{% block title %} {% translate 'Utilisateur details' %} {% endblock title %}

{% block content %}
    <h1 class="text-center mb-4">{% trans "Utilisateur details" %}</h1>
    {% if request.user|in_group:'CRM' %}
        <div class="list-group">
            <div class="list-group-item d-flex justify-content-between align-items-start">
                <div class="mx-0 my-2">
                    <div class="oneline" data-bs-toggle="tooltip" title="{{ utilisateur }}"><strong>{{ utilisateur.username }}</strong>: {{ utilisateur.email }}</div>
                    <span class="oneline text-muted">{% trans 'Joined' %}: {{ utilisateur.date_joined }}</span>
                    <span class="oneline text-muted">{% trans 'Latest login' %}: {{ utilisateur.last_login }}</span>
                </div>
                {% if verified %}
                    <span class="badge text-white bg-success rounded-pill">Verified</span>
                {% else %}
                    <span class="badge text-white bg-danger rounded-pill">Unverified</span>
                {% endif %}
            </div>
            <div class="list-group-item">
                <div class="mx-0 my-2">
                    <span>{% trans 'Profile' %}:</span>
                    <span class="ms-1 fw-bold">
                        {% if profile %}
                            {{ profile }}
                        {% else %}
                            {% trans "Not found" %}
                        {% endif %}
                    </span>
                </div>
            </div>
            <a class="list-group-item" href="{% url 'crm_downloads' %}?&user={{ utilisateur.id }}">
                <div class="mx-0 my-2">
                    <span class="fw-bold">{{ downloads.all|length }}</span>
                    <span class="ms-1">{% trans 'Downloads' %}</span>                    
                </div>
            </a>
            <a class="list-group-item" href="{% url 'search_queries_list' %}?&user={{ utilisateur.id }}">
                <div class="mx-0 my-2">
                    <span class="fw-bold">{{ queries.all|length }}</span>
                    <span class="ms-1">{% trans 'Searches' %} </span>                   
                </div>
            </a>
            <div class="list-group-item">
                <div class="mx-0 my-2">
                    <span class="fw-bold">{{ favos.all|length }}</span>
                    <span class="ms-1">{% trans 'Favorizations' %} </span>                   
                </div>
            </div>
            <div class="list-group-item">
                <div class="mx-0 my-2">
                    <span class="fw-bold">{{ unfavs.all|length }}</span>
                    <span class="ms-1">{% trans 'Unfavorizations' %} </span>                   
                </div>
            </div>
            <div class="list-group-item">
                <div class="mx-0 my-2">
                    {% trans 'Contacts' %}
                    {{ contacts.all|length }}
                </div>
            </div>
        </div>
    {% else %}
        <p class="text-danger">{% trans 'Not allowed' %}</p>
    {% endif %}
{% endblock %}
