<!-- {% for location in locations %}
    <li hx-on:click="document.getElementById('locationInput').value = '{{ location }}'; 
        document.getElementById('location-suggestions').innerHTML = '';">
        {{ location }}
    </li>
{% empty %}
{% endfor %} -->

    <!-- <li>No matches found</li> -->
    <!-- htmx.trigger('#locationInput', 'input'); -->


<!-- {% for location in locations %}
    <li>
        <a class="dropdown-item" 
           href="#" 
           hx-on:click="document.getElementById('locationInput').value = '{{ location }}'; 
                        document.getElementById('location-suggestions').classList.remove('show');">
            {{ location }}
        </a>
    </li>
{% empty %}
    <li><a class="dropdown-item disabled">No matches found</a></li>
{% endfor %} -->
