{% load i18n %}

<div class="container">
    <div class="py-2 rounded shadow text-center text-bg-warning">
        <span class="">{% translate "Better with an account." %}</span>
        <span><a class="ms-1 text-success" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></span>
        <span class="ms-1 fw-bold">{% translate '100% FREE' %}</span>
        <span><a class="ms-1 text-secondary small" target="_blank" href="{% url 'base_contact' %}">{% trans "More" %}</a></span>
    </div>
</div>