{% extends 'base.html' %}
{% load i18n %}
{% load static%}

{% block title %} {% translate 'Message submitted' %} {% endblock title %}

{% block content %}
    {% trans "Message sent" as top_title %}
    {% trans "Thank You !" as subtitle %}
    {% trans "Your message has been successfully submitted. We will get back to you shortly." as paragraph %}
    {% include 'base/includes/page-top.html' with top_title=top_title image='img/success.webp' subtitle=subtitle paragraph=paragraph %}

    {% translate 'Go Home' as caption_primary %}
    {% translate 'FAQs' as caption_secondary %}
    {% include 'base/includes/page-cta.html' with caption_primary=caption_primary url_primary='base_home' caption_secondary=caption_secondary url_secondary='base_faqs' %}
    
{% endblock content %}


