{% extends 'base.html' %}
{% load i18n %}
{% load static%}

{% block title %} 404 - {% translate 'Not Found' %} {% endblock title %}


{% block content %}
    {% trans "Not Found" as top_title %}
    {% trans "We don't have it !" as subtitle %}
    {% trans "Our server could not find the requested page or resource." as paragraph %}
    {% with 'img/errors/error-'|add:m7|add:'.jpg' as image %}
        {% include 'base/includes/page-top.html' with image=image %}
    {% endwith %}

    {% translate 'Go Home' as caption_primary %}
    {% translate 'Read FAQs' as caption_secondary %}
    {% include 'base/includes/page-cta.html' with url_primary='base_home' url_secondary='base_faqs' %}

{% endblock %}