{% load i18n %}

<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col px-0">
            <div class="accordion mb-3" id="accordionSignup">
                <div class="accordion-item bg-warning-subtle shadow">
                    <h2 class="accordion-header">
                        <button class="accordion-button bg-warning-subtle p-2 collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseReadMe" aria-expanded="false"
                            aria-controls="collapseReadMe">
                            <span class="text-warning"><i class="bi bi-exclamation-circle-fill"></i></span>
                            <span class="ms-1">{% trans "Important" %}</span>
                        </button>
                    </h2>
                    <div id="collapseReadMe" class="accordion-collapse collapse" data-bs-parent="#accordionSignup">
                        <div class="accordion-body py-0">
                            <div class="my-3">
                                <div class="d-flex">
                                    <div class="w-100">
                                        <span class="small">{% trans "We, eMarches.com, are not affiliated with any governmental entity" %}.</span>
                                        <span class="small">{% trans "We provide these files from the pulic portal for informational purposes only" %}.</span>
                                        <span class="small pe-1">{% trans "Before bidding, please refer to the official website" %}:</span>
                                        <span><a class="" target="_blank" href="{{ con.portal_link }}">merchespublics.gov.ma</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row justify-content-center">
        <div class="col px-0">
            <div class="accordion mb-3" id="accordionHelp">
                <div class="accordion-item bg-success-subtle shadow">
                    <h2 class="accordion-header">
                        <button class="accordion-button bg-success-subtle p-2 collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseHelpUs" aria-expanded="false"
                            aria-controls="collapseHelpUs">
                            <span class="text-success"><i class="bi bi-heart-fill"></i></span>
                            <span class="ms-1">{% trans "You can help us" %}</span>
                        </button>
                    </h2>
                    <div id="collapseHelpUs" class="accordion-collapse collapse hide" data-bs-parent="#accordionHelp">
                        <div class="accordion-body py-0">
                            <div class="my-3">
                                <div class="d-flex">
                                    <div class="w-100">
                                        <span class="small">{% trans "Optionally, you can help us to further improve our services. Here are some helpful things you could do" %}:</span>
                                        <div class="mt-2">
                                            <span class="">
                                                <div class="badge bg-success mt-1 py-2">
                                                    <i class="bi bi-share-fill"></i>
                                                    <span class="ms-1 fw-light">{% trans "Share" %}</span>
                                                </div>
                                            </span>
                                            <span class="">
                                                <div class="badge bg-success mt-1 py-2">
                                                    <i class="bi bi-bug-fill"></i>
                                                    <span class="ms-1 fw-light">{% trans "Report" %}</span>
                                                </div>
                                            </span>
                                            <span class="">
                                                <div class="badge bg-success mt-1 py-2">
                                                    <i class="bi bi-bar-chart-line-fill"></i>
                                                    <span class="ms-1 fw-light">{% trans "Suggest" %}</span>
                                                </div>
                                            </span>
                                            <span class="">
                                                <div class="badge bg-success mt-1 py-2">
                                                    <i class="bi bi-cloud-plus-fill"></i>
                                                    <span class="ms-1 fw-light">{% trans "Ask" %}</span>
                                                </div>
                                            </span>
                                            <span class="">
                                                <div class="badge bg-success mt-1 py-2">
                                                    <i class="bi bi-bag-check-fill"></i>
                                                    <span class="ms-1 fw-light">{% trans "Buy" %}</span>
                                                </div>
                                            </span>
                                            <span class="">
                                                <div class="badge bg-success mt-1 py-2">
                                                    <i class="bi bi-cup-hot-fill"></i>
                                                    <span class="ms-1 fw-light">{% trans "Donate" %}</span>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</div>