{% load i18n %}
<section>
    {% include 'portal/includes/section-title.html' with label='Search Notes' %}
    <div class="row g-2 mb-2">
        <div class="text-muted small">{% translate 'Search isgnores case and accents:' %}
            <strong class="mx-auto">Fêté = fete = FETE = FÊTE = fète = fÊtE ...</strong>
            <span class="text-muted small"> {% trans 'Search criterias are joined with' %}<strong> "AND"</strong>.</span>
        </div>
    </div>
</section>


        <!-- <div class="text-muted small"> .</div> -->
<!-- <div class="col-12 col-lg-6">
</div>
<div class="col-12 col-md-6">
</div> -->