<script>
function sharePage() {
    const chrono = "{{ con.portal_id|escapejs }}";    
    const baseUrl = "https://www.emarches.com/cons/pid/";
    const fullUrl = baseUrl + chrono + "/";
    const title = document.title;

    // Check if Web Share API is supported
    if (navigator.share) {
        navigator.share({
            title: title,
            url: fullUrl
        })
        .then(() => console.log('Shared successfully'))
        .catch((error) => console.error('Error sharing:', error));
    } else {
        // Fallback: Copy URL to clipboard
        navigator.clipboard.writeText(fullUrl)
            .then(() => {
                var toastElement = document.getElementById('copyToast');
                    var toast = new bootstrap.Toast(toastElement);
                    toast.show();
            })
            .catch((error) => console.error('Error copying URL:', error));
    }
}
</script>